*,
html {
    margin: 0;
    padding: 0;
}

.container-navbar {
    background-color: rgb(0, 4, 255);
    width: 100%;
    min-height: 10vh;
}

.ul-navbar {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.li-navbar {
    list-style-type: none;
    padding: 50px;
    margin: 2px;
    color: white;
    font-size: 25px;
}

.li-navbar:hover {
background-color: black;
transition: .2s ease-in-out;
transition-delay: .3s;
border-radius: 8px;
}

.a-navbar {
    color: white;
    text-decoration: none;
    font-weight: 800;
    width: 100%;
}

.body {
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    text-align: center;
}

.container-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 70vh;
    padding: 50px;
    margin: -5px;
}

.a-content {
    background-color: white;
    color: black;
    text-decoration: none; 
    opacity: 80%;
    font-size: 30px;
    width: 720px;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 80px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.img-content {
    width: 35%;
    height: 50%;
}

.container-footer {
    height: 8vh;
    background-color: rgb(0, 4, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1-footer {
    font-size: 35px;
    color: white;
}